rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção de usuários
    match /usuarios/{userId} {
      allow read, write: if true; // Permite acesso total durante desenvolvimento
    }
    
    // Regras para a coleção de blocos
    match /blocos/{blocoId} {
      allow read, write: if true; // Permite acesso total durante desenvolvimento
    }
    
    // Regras para a coleção de documentos
    match /documentos/{documentoId} {
      allow read, write: if true; // Permite acesso total durante desenvolvimento
    }
    
    // Regras para a coleção de capas
    match /capas/{capaId} {
      allow read, write: if true; // Permite acesso total durante desenvolvimento
    }
    
    // Regra geral para outras coleções
    match /{document=**} {
      allow read, write: if true; // Permite acesso total durante desenvolvimento
    }
  }
}
