rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite leitura, escrita e exclusão de arquivos na pasta blocos
    match /blocos/{fileName} {
      allow read: if true;
      allow write: if request.resource.size < 5 * 1024 * 1024;
      allow delete: if true;
    }

    // Bloqueia acesso a outros caminhos
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
