<div class="menu-container">
  <!-- <h2 class="menu-titulo">Buscar Blocos</h2>
  <p class="menu-subtitulo">Escolha uma das opções para encontrar os blocos</p> -->

  <div class="cards-container">
    <!-- Card Por Linha TC -->
    <div class="menu-card" (click)="navegarBuscaLinha()">
      <div class="card-icon">
        <ng-icon name="heroArrowPath"></ng-icon>
      </div>
      <span class="card-titulo">Por Linha</span>
      <span class="card-descricao">Busque os desvios e PEDs criados das linhas desviadas</span>
    </div>

    <!-- Card Por Bloco -->
    <div class="menu-card" (click)="navegarPorBloco()">
      <div class="card-icon">
        <ng-icon name="heroMagnifyingGlass"></ng-icon>
      </div>
      <span class="card-titulo">Por Bloco</span>
      <span class="card-descricao">Busque pelo nome do bloco</span>
    </div>

    <!-- Card Por Data -->
    <div class="menu-card" (click)="navegarPorData()">
      <div class="card-icon">
        <ng-icon name="heroCalendarDays"></ng-icon>
      </div>
      <span class="card-titulo">Por Data</span>
      <span class="card-descricao">Filtre por data do desfile</span>
    </div>

    <!-- Card Busca Livre -->
    <div class="menu-card" (click)="navegarBuscaLivre()">
      <div class="card-icon">
        <ng-icon name="heroMagnifyingGlass"></ng-icon>
      </div>
      <span class="card-titulo">Busca Livre</span>
      <span class="card-descricao">Busque em todos os campos</span>
    </div>
  </div>
</div>